<nav>
    <div class="site">
        <a href="/">Acount</a>
        <p style="color: red">Magic posts</p>
    </div>
    <ul>
        <li><a href="/">Account</a></li>
        <!-- <li><a href="/about">About</a></li> -->

        <!-- <li><a href="/blogs/create">New Blog</a></li> -->
    </ul>
</nav>