<!DOCTYPE html>
<html lang="en">

<!-- include partials file -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- include partials file -->
    <%- include('./partials/nav.ejs') %>

    <div class="account content">
        OOPS, 404 NOT FOUND
    </div>

    <!-- include partials file -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>